body {
    background-color: rgb(220, 241, 220);
}

h1 {
    color: green;
}

/* input {
    position: absolute;
    right: 20px;
} */

.card {
    margin-top: 10%;
}

.card-footer {
    text-align: center;
}

.card .card-image {
    height: 25px;
}